.calc{
  width: 320px;
  margin: 100px auto;
  
}
.cls{
  border: 2px solid black;
}
#answer{
  background-color: antiquewhite;
  padding: 10px;
  font-size: 30px;
  width: 270px;
  height: 45px;
  text-align: right;
  border: 2px solid black;
  border-radius: 6px;
}
.btn{
 margin: 2px;
  border-radius: 8px;
  background: grey;
  height: 80px;
  width: 70px;
  color: black;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
.btn1{
  background: rgb(39, 129, 129);
  height: 70px;
  border-radius: 4px;
  color: rgb(235, 21, 21);
  font-size: 30px;
  border: 1px solid black;
  float: left;
  width: 147px;
}
.btn:hover{
background-color: rgb(73, 67, 195);

}
.btn1:hover{
  background-color: bisque;
}